@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(255, 214, 176);
  background: linear-gradient(
    -140deg,
    rgba(255, 214, 176, 1) 35%,
    rgb(250, 244, 226) 88%
  );
  min-height: 100vh;
  font-family: 'Comfortaa', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.8em;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-direction: row;
}

.weather-card,
.bg-opacity {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.34);
  padding: 2rem;
  margin: 1rem 1rem 0 1rem;
}

.bg-opacity {
  width: 45%;
}

.weather-card-header {
  text-align: center;
  margin-bottom: 2rem;
}

.forecast-card {
  max-height: 30vh;
  overflow-y: auto;
}

.forecast {
  display: flex;
  align-items: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.34);
  width: 20%;
}

.font-mini-cards {
  font-size: 0.6em;
  margin-bottom: 0;
}

.change-direction {
  flex-direction: row;
}

@media screen and (max-width: 770px) {
  .forecast {
    width: 40%;
  }
  h1 {
    font-size: 2.6em;
  }
  h5,
  .font-mini-cards {
    font-size: 0.8em;
  }
  .error-card {
    font-size: 0.7em;
  }
  .display-1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 580px) {
  .change-direction {
    flex-direction: column;
  }
  .weather-card p.card-text:nth-child(2) {
    margin-bottom: 16px;
  }
  .error-card p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 440px) {
  .forecast {
    width: 80%;
  }
  .error-card p {
    font-size: 1em;
  }
  .error-card .card-title {
    font-size: 2.5em;
  }
}
